.elementor-22 .elementor-element.elementor-element-b35bb7e{--spacer-size:50px;}.elementor-22 .elementor-element.elementor-element-d9bb0d9{text-align:center;}.elementor-22 .elementor-element.elementor-element-d9bb0d9 .elementor-heading-title{color:var( --e-global-color-accent );font-family:"Syne", Sans-serif;font-size:38px;font-weight:800;}.elementor-22 .elementor-element.elementor-element-fdc2a19{--spacer-size:50px;}.elementor-22 .elementor-element.elementor-element-8365788{--divider-border-style:solid;--divider-color:var( --e-global-color-accent );--divider-border-width:1px;}.elementor-22 .elementor-element.elementor-element-8365788 .elementor-divider-separator{width:80%;margin:0 auto;margin-center:0;}.elementor-22 .elementor-element.elementor-element-8365788 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-22 .elementor-element.elementor-element-6bfb347 > .elementor-container{max-width:919px;}.elementor-22 .elementor-element.elementor-element-7c49c99{text-align:left;}.elementor-22 .elementor-element.elementor-element-7c49c99 .elementor-heading-title{color:var( --e-global-color-accent );font-family:"Syne", Sans-serif;font-size:30px;font-weight:700;}.elementor-22 .elementor-element.elementor-element-02af4c6{--spacer-size:20px;}.elementor-22 .elementor-element.elementor-element-5319e0b > .elementor-container{max-width:911px;}.elementor-22 .elementor-element.elementor-element-294a085{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-22 .elementor-element.elementor-element-780d845{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-22 .elementor-element.elementor-element-85d27e7{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-22 .elementor-element.elementor-element-e8654d0{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-22 .elementor-element.elementor-element-36f7791{--divider-border-style:solid;--divider-color:var( --e-global-color-accent );--divider-border-width:1px;}.elementor-22 .elementor-element.elementor-element-36f7791 .elementor-divider-separator{width:80%;margin:0 auto;margin-center:0;}.elementor-22 .elementor-element.elementor-element-36f7791 .elementor-divider{text-align:center;padding-top:15px;padding-bottom:15px;}.elementor-22 .elementor-element.elementor-element-29bfa73{--spacer-size:50px;}.elementor-22 .elementor-element.elementor-element-c14b7e4 > .elementor-container{max-width:919px;}body.elementor-page-22:not(.elementor-motion-effects-element-type-background), body.elementor-page-22 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-87e48a5 );}@media(max-width:1024px){.elementor-22 .elementor-element.elementor-element-5319e0b > .elementor-container{max-width:911px;}}@media(max-width:767px){.elementor-22 .elementor-element.elementor-element-d9bb0d9 .elementor-heading-title{font-size:23px;}.elementor-22 .elementor-element.elementor-element-7c49c99 .elementor-heading-title{font-size:20px;}}@media(min-width:768px){.elementor-22 .elementor-element.elementor-element-113e622{width:100%;}}/* Start custom CSS for html, class: .elementor-element-294a085 */.quantite {

  display:flex;

  flex-direction:  row;

}

.quantite {

   width:103px;

}

.number {

padding: 20px;

    width: 85%;
    
    border: none;
    
    border-radius: 10px;
}

 .boutons {

     display: flex;
    flex-direction: column;
    background-color: #dc9f96;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 3px;
    position: absolute;
    left: 47px;
    width: 41px;

}

 .boutons a {

  padding:0px 12px;

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

  display:flex;

  justify-content:center;

  align-items:center

}

.plus {

  border-radius:0px 10px 0px 0px;
  border-bottom:1px solid white;

}

 .moins {

  border-radius:0px 10px 0px 0px

  }

 .commander{

    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    margin: auto;

}

.bouton_ok a{

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

}

 .bouton_ok{

    background: #E0B9B4;
 padding:15px 40px;

    border-radius: 5px;

}

 .bouton_ok:hover{

    background: #C02E44;
}

@media screen and (min-width: 767px) and (max-width: 956px){
     .number {
        width: 97%;
    }
    .boutons {
        left: 49px;
    }
    .bouton_ok {
        padding: 15px 20px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-780d845 */.quantite {

  display:flex;

  flex-direction:  row;

}

.quantite {

   width:103px;

}

.number {

padding: 20px;

    width: 85%;
    
    border: none;
    
    border-radius: 10px;
}

 .boutons {

     display: flex;
    flex-direction: column;
    background-color: #dc9f96;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 3px;
    position: absolute;
    left: 47px;
    width: 41px;

}

 .boutons a {

  padding:0px 12px;

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

  display:flex;

  justify-content:center;

  align-items:center

}

.plus {

  border-radius:0px 10px 0px 0px;
  border-bottom:1px solid white;

}

 .moins {

  border-radius:0px 10px 0px 0px

  }

 .commander{

    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    margin: auto;

}

.bouton_ok a{

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

}

 .bouton_ok{

    background: #E0B9B4;
 padding:15px 40px;

    border-radius: 5px;

}

 .bouton_ok:hover{

    background: #C02E44;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-85d27e7 */.quantite {

  display:flex;

  flex-direction:  row;

}

.quantite {

   width:103px;

}

.number {

padding: 20px;

    width: 85%;
    
    border: none;
    
    border-radius: 10px;
}

 .boutons {

     display: flex;
    flex-direction: column;
    background-color: #dc9f96;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 3px;
    position: absolute;
    left: 47px;
    width: 41px;

}

 .boutons a {

  padding:0px 12px;

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

  display:flex;

  justify-content:center;

  align-items:center

}

.plus {

  border-radius:0px 10px 0px 0px;
  border-bottom:1px solid white;

}

 .moins {

  border-radius:0px 10px 0px 0px

  }

 .commander{

    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    margin: auto;

}

.bouton_ok a{

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

}

 .bouton_ok{

    background: #E0B9B4;
 padding:15px 40px;

    border-radius: 5px;

}

 .bouton_ok:hover{

    background: #C02E44;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-e8654d0 */.quantite {

  display:flex;

  flex-direction:  row;

}

.quantite {

   width:103px;

}

.number {

padding: 20px;

    width: 85%;
    
    border: none;
    
    border-radius: 10px;
}

 .boutons {

     display: flex;
    flex-direction: column;
    background-color: #dc9f96;
    height: 100%;
    border-radius: 0 10px 10px 0;
    padding: 3px;
    position: absolute;
    left: 47px;
    width: 41px;

}

 .boutons a {

  padding:0px 12px;

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

  display:flex;

  justify-content:center;

  align-items:center

}

.plus {

  border-radius:0px 10px 0px 0px;
  border-bottom:1px solid white;

}

 .moins {

  border-radius:0px 10px 0px 0px

  }

 .commander{

    display: flex;

    flex-wrap: nowrap;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    margin: auto;

}

.bouton_ok a{

  height:50%;

  text-decoration:none;

  color:white;

  font-size:14px;

}

 .bouton_ok{

    background: #E0B9B4;
 padding:15px 40px;

    border-radius: 5px;

}

 .bouton_ok:hover,.boutons:hover{

    background: #C02E44;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-ffdd88a */.formulaire{display: flex;
    justify-content: space-between;}
    
.formulaire h2,.formulaire label{color:white;}


form input[type=text], .wpcf7 input[type="email"],
form input[type=number]{background-color: white !important;
    border-radius: 7px
    !important;
    border:none
    !important;
    padding: 15px
    !important;
    }
    
.border{    border-right: 1px solid #fff;
    width: 4%;
    margin-right:4%;
    
}

.bouton-commander{text-align: center;margin-bottom: 80px;margin-top: 20px
}

.wpcf7-form-control.wpcf7-submit {    padding: 20px 65px;}

    
.wpcf7-spinner{display: none;}

.informations,.livraison{width: 49%;}

.wpcf7 form.invalid .wpcf7-response-output{border-color:#C02E44;
    color: #C02E44;}
    
.wpcf7 form.sent .wpcf7-response-output{border-color: #E0B9B4;
color: #E0B9B4;}

    
@media screen and (max-width:767px){
    .formulaire{flex-direction:column;}
    
    .informations, .livraison {
    width: 100%;}
}/* End custom CSS */